# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/cordova/www


# dependencies
/node_modules
/bower_components/*

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log

# iOS
cordova/platforms/ios/build/
cordova/platforms/ios/www/
cordova/platforms/ios/cordova/console.log
*.xcuserdatad

cordova/platforms/*

# wp8
cordova/platforms/wp8/bin
cordova/platforms/wp8/obj
cordova/platforms/wp8/www
cordova/platforms/wp8/.staging
cordova/platforms/wp8/*.suo
cordova/platforms/wp8/*.csproj.user
