html, body {
    margin: 0px;
}
.liquid-container {
    overflow: inherit !important;
}
.accelerometer-graph {
    width: 800px; 
    height: 200px;"
}

.btn-small {
	padding: 0 1rem !important;
}

.btn-center {
	margin-left: 40% !important;
}