<div class="row">
	<div class="col s12">
		<h4 align="center">Phone Accelerometer <br>(500ms polling)</h4>
		{{c3-graph size=chartSize data=dataset interaction=interaction transition=transition axis=axis updateflag=update}}
	</div>
</div>